* {
    padding: 0;
    margin: 0;
    
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: "Poppins";
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.container {
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
}

.message-wrapper {
    text-align: center;
}

.heading h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 40px;
    color: #666666;
    letter-spacing: 10px;
}

.heading h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.heading p {
    margin-bottom: 50px;
}

.message-wrapper {
    padding-bottom: 80px;
    text-align: center;
}

.message {
    padding: 15px 40px;
    background-color: #B2C8C7;
    cursor: pointer;
    box-shadow: 0 7px #4b4b4b;
    border-radius: 7px;
}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

footer {
    height: 125px;
    width: 100%;
    background-color: #555D60;
}

.menu {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.menu li a {
    color:white;
    padding: 5px 10px;
    border-radius: 6px;
}

.menu li {
    margin-bottom: 10px;
}

.footer .logo {
    width: 90px;
    display: block;
    float: left;
    margin: 20px 30px;
    text-decoration: none;
}